@import "../../node_modules/bootstrap/scss/bootstrap";

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$overflow: 300px;

body {
  font-family: Roboto, sans-serif;
  color: black;
}

.app__wrapper {
  display: flex;
  position: relative;

}


.sidebar {
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #060B26;
  padding-bottom: 10px;
  position: relative;
  justify-content: space-between;


  & .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 20px;


    & .avatar {
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;

      & img {
        height: 50px;
        width: 50px;
        border-radius: 5px;
      }

      & .logout__button {
        position: absolute;
        padding: 2px 10px;
        top: 60px;
        width: 80px;
        color: #060B26;
      }
    }
  }

  & .navigation {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: -60px;

    & .menu__bars {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      width: 170px;
      margin-bottom: 30px;

      & svg {
        margin-right: 10px;
        font-size: 34px;
      }
    }

    & .menu__bars:last-child {
      margin-bottom: 0;
    }
  }

  & .footer {
    text-align: center;

    & span {
      font-size: 12px;
      color: #d6e8f8;
    }
  }
}

.loginWrapper {
  height: calc(100vh - 40px);
  display: flex;
  width: 100%;
  color: black;
  position: relative;
  justify-content: center;
  align-items: center;


  & .error__block {
    position: absolute;
    width: 90%;
    text-align: center;


  }


}

.terminal__container {
  position: relative;
  min-height: 93vh;
  & .terminal__add__interface {
    margin-top: 70px;
    position: relative;

    & .terminal__name__input,
    .terminal__description__input {
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;

      & input, textarea {
        width: 60%;
        font-size: 14px;
        border: none;
        outline: none;
        border-bottom: 2px solid #060B26;
        resize: none;
        overflow: hidden;
        &.alert__input {
          border-bottom: 2px solid red;
          border-radius: 0px;
        }
      }

    }

    & .add__button__wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;

      & .add__button {
        text-align: center;
        width: 200px;
        padding: 10px 20px;
        background-color: #d6e8f8;
        transition: 300ms;

        &:hover {
          transition: 300ms;
          background-color: #a7cff3;
          cursor: pointer;
        }
      }
    }

    & .error__block {
      position: absolute;
      top: 10px;
    }
  }

}

.terminals__table {

  & .scroll__table {

    height: calc(100vh*0.4);
    overflow-y: auto;
    overflow-x: hidden;
  }

  & .terminals__table_header {
    margin-top: 70px;


    & .col {
      display: flex;
      min-height: 40px;
      padding: 0;
      height: 40px;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      border-bottom: 1px solid #b0b1bf;

    }

    & .col:nth-child(2) {
      border-left: 1px solid #b0b1bf;
      border-right: 1px solid #b0b1bf;
    }


  }
}


.terminal__table__item {
  margin-top: 10px;
  cursor: pointer;


  &.selected {
    color: red;
    font-weight: 700;
  }

  & .col {
    display: flex;
    min-height: 40px;
    padding: 0;




  }
}

.remove__button__wrapper {
  position: absolute;
  width: 100%;
  bottom: 20px;


  & .remove__button {
    text-align: center;
    width: 200px;
    padding: 10px 20px;
    background-color: #ffa8a8;
    transition: 300ms;

    &:hover {
      transition: 300ms;
      background-color: #ff6872;;
      cursor: pointer;
    }
  }
  & .blocked__button {
    text-align: center;
    cursor: pointer;
    width: 200px;
    padding: 10px 20px;
    background-color: #bababa;
    transition: 300ms;
  }
}
